# Helper Functions Volume 1: (FILE IO)

Author: Koh Kok Bin  
Date: 27th Oct 2021

This notebook provides some helper functions that users can use in their Python code to interact with files. This is relating to a broader topic known as File I/O (Input/Output).

In [1]:
# Relevant packages. No need additional installation of packages.
import os
import pandas as pd

In [2]:
# Get directory name of this file. Helpful to specify the directory of the file, 
# so you can also interact with the files in the same location via relative paths.
dirname = globals()["_dh"][0]

__Note that you can also read sharepoint files like so:__  
The r in front of the quotation mark specifies Python to treat it like a raw string. Else, the forward slash "\\" is treated as an escape character as it is used in conjunction with other characters such as \t for tab, \n for newline in print statements.  

Try out the 2 cells below. Error comes because the slash is a *special character*. To tell Python not to interpret it as a special character, we need to add another forward slash to it to *escape* it.

In [7]:
print("\")

SyntaxError: EOL while scanning string literal (<ipython-input-7-dff1232de400>, line 1)

In [6]:
print("\\")

\

The "W:" link only works if you've connected the path (W drive) via windows explorer. You must also have read access to the following directory. Try your own sharepoint link!  

*Note: Does not work well with DOS-domain accounts. This is because you are running this script as a SOE account user (aka what you used to log into this laptop/workstation). If you've logged into SharePoint via dos-account, it will cause errors.*

In [ ]:
mydir = r"W:\NAC\Workgroup\PST\Reference Materials\Usable Codes\Python\File IO\main"
shareptdir = r"\\intranet.dos.gov.sg\DavWWWRoot\sites\ead2\Common\NAC\Workgroup\PST\Reference Materials\Usable Codes\Python\File IO\main"
print(os.listdir(mydir))
print(os.listdir(shareptdir))

In [ ]:
# Try this (remove the comments) to see the error it will through without specifying it as a raw string.
#shareptdir = "\\intranet.dos.gov.sg\DavWWWRoot\sites\ead2\Common\NAC\Workgroup\PST\Reference Materials\Documentation_Guides"
#print(os.listdir(shareptdir))

## <a id = "VOL1_toc"> Part 1: File I/O (Input/Output)  </a>

This section deals with file interaction, including reading and writing to files. Particularly, this will also include reading of and writing to excel files (encrypted or not) as that is the default file format DOS uses to store data.  

The pandas package is one of the most commonly used (and most popoular) data processing/manipulation framework in Python. It has many functions that make it easy for users like you or me to manipulate external data sources, especially from Excel. Despite that, it's not a silver bullet. We __need to take note how the data looks like within the files__ in order to interact with them.  

The following sections below will describe both pandas and native Python functions for this purpose.  

File formats
- [csv (Comma Separated Values)](#VOL1_csv)
- [xlsx, xls, xlsm (excel files)](#VOL1_excel)
- [dat, txt](#VOL1_dat)
- [sas7bdat](#VOL1_sas)
- [json](#VOL1_json) 

Part 2: Writing to files
- [Excel Files](#VOL1_write_excel)

#### <a id = "VOL1_csv">Part 1a: CSV files</a>

[Return to Table of Contents](#VOL1_toc)

CSV files are simply text files with each value separated by a comma. In the context of 2-dimensional tables, each line (row) is separated by a newline (intepreted by Python as a \n). Highly recommended to use Pandas to read in a csv.

In [8]:
# replace, a string method, is used because os.path.join will use appropriate slashes, but may be the opposite slash.
# This makes it consistent throughout the path.
path_to_file = os.path.join(dirname, "files", "read").replace("\\", "/")

In [9]:
# CSV files only have 1 'sheet' if you save from excel files.
# If you read the csv files in excel, they will show a structure similar to excel files (1 value in each cell)
# However, they are separated by commas. You will run into errors trying to read csv via read_excel.
csv_file = os.path.join(path_to_file, "data.csv").replace("\\", "/")
df_csv = pd.read_csv(csv_file)

In [10]:
# My personal preference for all columns to be uppercase so I can reference them consistently via uppercase.
df_csv.columns = map(str.upper, df_csv.columns)

In [11]:
# Error
# pd.read_excel(csv_file, sheet_name = "data")

In [12]:
df_csv

       NAME  AGE  SCORE
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

In [16]:
# If you would like to walk on glass...
# Why I recommend using Python...
encode = [None, "UTF-8", "UTF-8-sig"]

for i in range(3):
    with open(csv_file, "r", encoding = encode[i]) as file:
        print("Encoding = {}. File contents = {}".format(encode[i], file.readlines()))

Encoding = None. File contents = ['ï»¿Name,Age,Score\n', 'John,27,56.9\n', 'Amy,30,45.7\n', 'Alfred,24,63.4\n', 'Benjamin,35,85.3\n']
Encoding = UTF-8. File contents = ['\ufeffName,Age,Score\n', 'John,27,56.9\n', 'Amy,30,45.7\n', 'Alfred,24,63.4\n', 'Benjamin,35,85.3\n']
Encoding = UTF-8-sig. File contents = ['Name,Age,Score\n', 'John,27,56.9\n', 'Amy,30,45.7\n', 'Alfred,24,63.4\n', 'Benjamin,35,85.3\n']

Compare this to the pd.read_csv as above. seems much easier no? No need to specify the type of encoding AND the input is read in as a DataFrame already.

### <a id = "VOL1_excel">Part 1B: Excel files</a>

[Return to Table of Contents](#VOL1_toc)

In this section, we will cover how to read from excel files, encrypted or not, in the different file formats that you encounter them in. Generally, there is no information loss when saving your .xls file as .xlsx. Please try your best to save excel files using the latter file formats. Doing large scale processing via Python with such files will reduce the potential for error vs .xls files which the packages may not be fully compatible with.

In any case, the file formats (.xlsx, .xlsm, .xls) are all accepted by the pandas function: read_excel(). Do note that anytime you specify arguments (see below) such as *sheet_name = "Sheet1"*, the "Sheet1" must be case sensitive. In fact, most arguments accepted by Python function are usually case sensitive.

In [10]:
# For excel files: works with xls, and xlsm too. <check for FAME files>
excel_file = os.path.join(path_to_file, "data.xlsx").replace("\\", "/")
df_excel = pd.read_excel(excel_file, sheet_name = "Sheet1")
df_excel.columns = map(str.upper, df_excel.columns)

In [11]:
df_excel

       NAME  AGE  SCORE
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

In [12]:
excel_file2 = os.path.join(path_to_file, "data.xls").replace("\\", "/")
df_xls = pd.read_excel(excel_file2, sheet_name = "Sheet1")
df_xls.columns = map(str.upper, df_xls.columns)

In [13]:
df_xls

       NAME  AGE  SCORE
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

In [14]:
excel_file3 = os.path.join(path_to_file, "data.xlsm").replace("\\", "/")
df_xlsm = pd.read_excel(excel_file3, sheet_name = "Sheet1")
df_xlsm.columns = map(str.upper, df_xlsm.columns)

In [15]:
df_xlsm

       NAME  AGE  SCORE
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

For read_excel, the powerful part is that you can read in the specified sheet ("Sheet1") or all sheets (None).

In [16]:
# Read multiple sheets. Useful if you want to read multiple sheets at a time.
dict_excel = pd.read_excel(excel_file, sheet_name = None)
dict_excel["Sheet1"]

       Name  Age  Score
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

In the example above, I have shown that the same function to read in different file formats will yield the same data. Let's move on to password-protected files. We use a package called xlwings to do that.

#### Part 1Bi: Reading password-protected excel files  
[Return to Table of Contents](#VOL1_toc)  

I have already created a simple function to help me read encrypted excel files. You can find this solution if you google "python read encrypted excel file xlwings". xlwings is the package that we need to use to interact with encrypted files (also workable on unencrypted files too). Importing functions into Jupyter Notebooks can be done by specifying the .py file containing the function in the same directory (or subdirectory).  

You can also define (e.g. create) the function in this Notebook, but you cannot import it elsewhere (importing of packages/functions require .py file formats). Please feel free to change the function to suit your work needs.

In [17]:
# If importing functions from elsewhere.
# helper.py must be in the same directory as this notebook.
from helper import read_pswd_excel

# To check if function exists in current environment
help(read_pswd_excel)

Help on function read_pswd_excel in module helper:

read_pswd_excel(link, sheet, excel_range='', return_df=True)
    Simple helper function to read password-protected Excel files

    link:           Link of excel file to read.
    sheet:          Sheet of Excel File. (will throw error if sheet is not found)
    excel_range:    string of an excel range such as "A1:G20"
    return_df:      To return as list of list (False) or a dataframe (True).

    Each element in the list of list is a row.
    Each element in a row would be a column, starting from excel_range

To facilitate understanding, I will also copy the function down here so you can easily refer to the code. This code also works on SharePoint files too.

In [18]:
# Requires xlwings, as well as os and pandas
import os
import pandas
import xlwings as xw

def read_pswd_excel(link, sheet, excel_range = "", return_df = True):
    
    ''' 
    Simple helper function to read password-protected Excel files
    
    link:           Link of excel file to read.
    sheet:          Sheet of Excel File. (will throw error if sheet is not found)
    excel_range:    string of an excel range such as "A1:G20"
    return_df:      To return as list of list (False) or a dataframe (True).
    
    Each element in the list of list is a row. 
    Each element in a row would be a column, starting from excel_range
    
    '''
    
    if not os.path.exists(link):
        print("link does not exist. Please try again.")
        raise Exception("LinkNotFoundError")
        
    app = xw.App()
    filebook = xw.Book(link)
    
    data = filebook.sheets[sheet].range(excel_range).value
    
    filebook.close()
    app.quit()
    
    if return_df:
        df = pd.DataFrame(data[1:], columns = data[0]).dropna(how = "all", axis = "rows").dropna(how = "all", axis = "columns")
        df.columns = map(str.upper, df.columns)

    else:
        df = data
    
    return df

Password for this exercise file is "pswd" no quotation marks (applies to all password-protected files).  

When using this function, few things to take note:
- If range is unknown, you can specify a large range (aka A1:PZ30000) that will definitely be larger than your data ranges. Naturally, the computational time to read in the data will be proportionately longer.
- It is assumed that the first row to be read (A1:PZ1) will be the column names. I have also converted them to uppercase to ensure consistency.
- Opening (and reading) the file (especially sharepoint) will take some time as the excel client needs to be booted from the backend.
- This package (xlwings) will read excel data as list of lists. For example, there are 2 rows within this list:  
    *[[Name, Age, Score], [John, 27, 56.9]]*
    - Hence, columns are specified above as data[0].

In [19]:
pswd_file = os.path.join(path_to_file, "data_pswd.xlsx").replace("\\", "/")
df_pswd = read_pswd_excel(link = pswd_file, sheet = "Sheet1", excel_range = "A1:BZ10000")
list_pswd = read_pswd_excel(link = pswd_file, sheet = "Sheet1", excel_range = "A1:BZ10000", return_df = False)

In [20]:
# Note that the age columns are converted into float. This requires cleaning.
df_pswd

       NAME   AGE  SCORE
0      John  27.0   56.9
1       Amy  30.0   45.7
2    Alfred  24.0   63.4
3  Benjamin  35.0   85.3

In [22]:
# For list_pswd, as we read in a super long range (A1:BZ10000), it may take time to read all the list.
# It is not recommended to read it via list of lists, as it will take longer to do data cleaning.
print("Length of list = {}".format(len(list_pswd)))
for a in range(5):
    for b in range(3):
        print(list_pswd[a][b])

Length of list = 10000
Name
Age
Score
John
27.0
56.9
Amy
30.0
45.7
Alfred
24.0
63.4
Benjamin
35.0
85.3

In [23]:
# Proof of concept using sharepoint file
# Should be Python\File IO, not Python\File IO\main
print(shareptdir)

# Only run this if the last slash ends with main
#shareptdir = os.path.dirname(shareptdir)

\\intranet.dos.gov.sg\DavWWWRoot\sites\ead2\Common\NAC\Workgroup\PST\Reference Materials\Usable Codes\Python\File IO\main

In [26]:
sharept_file = os.path.join(shareptdir, "data_pswd.xlsx").replace("\\", "/")
df_sharept = read_pswd_excel(link = sharept_file, sheet = "Sheet1", excel_range = "A1:D10")

In [27]:
df_sharept

       NAME   AGE  SCORE
0      John  27.0   56.9
1       Amy  30.0   45.7
2    Alfred  24.0   63.4
3  Benjamin  35.0   85.3

__If you have multiple sheets to read from a single file, consider this modified snippet of code__  

(not run)

In [ ]:
# Requires xlwings, as well as os and pandas
import os
import pandas as pd
import xlwings as xw

# example only. I have not created such a file.
# Both lengths should be same as you need the sheet name to read the ranges within.
sheets = ["Sheet1", "Sheet2", "Sheet3"]
excel_rng = ["A1:B30", "B2:DZ2000", "A1:G2"]
link = "path_to_file_with_many_sheets"

output_dict = {}

app = xw.App()
filebook = xw.Book(link)

# Read however many sheets from each file.
# For repetitive tasks like this, best to read into a dict

for i in range(len(sheets)):
    data = filebook.sheets[sheets[i]].range(excel_rng[i]).value
    df = pd.DataFrame(data[1:], columns = data[0]).dropna(how = "all", axis = "rows").dropna(how = "all", axis = "columns")
    df.columns = map(str.upper, df.columns)
    
    output_dict[sheets[i]] = df 

filebook.close()
app.quit()

__Please edit the function to suit your data needs. I think that the above code covers most if not all of the use cases currently for my work.__  

#### Part 1bii: Creating password automatically for excel files  

This last section of part 1b will show you how to create passwords for your excel files on Desktop as well as on sharepoint. This function can be appended at the end of helper.py. You can then import it into the workspace.

In [31]:
# Required packages
import win32com.client as win32
import os
#from pathlib import Path

def encrypt_file(full_filename, pswd = "pswd", intranet = "no", replace = "no"):

    '''
    Function only supports \ slashes.
    First it checks if the path exists or not. Ensure that you are connected to sharepoint.
    If the slashes are wrong, the function will try to change them.
    For intranet files, we will append a "1" to the filename so we can save as a different file.
    If replace is set to yes, we will delete the original file, and rename the new file -> original file
    '''        
    
    if not os.path.exists(full_filename):
        print("Filename does not exist.")
        
    if "\\" not in full_filename:
        print("Password encryption does not support </> slashes but only <\> slashes. Changing it now")
    
    full_filename = full_filename.replace("/", "\\")
    print("If there is a prompt asking if you want to overwrite the file. Put yes.")
    
    excel = win32.gencache.EnsureDispatch("Excel.Application")
    excel.DisplayAlerts = False
    wb = excel.Workbooks.Open(full_filename)
    
    # If intranet, try another method
    if "intranet.dos.gov.sg" in full_filename or intranet.lower() == "yes":
        print("Intranet file. To save as another file. Please delete as needed.")
        new_fullfilename = full_filename.replace(".xlsx", "1.xlsx")
        wb.SaveAs(new_fullfilename, 51, pswd)
        
    else:
        print("Local file. To overwrite.")
        wb.SaveAs(full_filename, 51, pswd)
    
    wb.Close()
    excel.Application.Quit()
        
    # Buggy - do not use.
    #if replace.lower() == "yes":
        #print("Replacing file...")
        #os.remove(full_filename)
        #os.rename(new_fullfilename, full_filename)
    
    return True

In [32]:
file_to_encrypt = os.path.join(path_to_file, "data_to_encrypt.xlsx").replace("/", "\\")

print(file_to_encrypt)

C:\Users\kbkoh\Desktop\PST\helper\files\read\data_to_encrypt.xlsx

In [33]:
encrypt_file(file_to_encrypt)

If there is a prompt asking if you want to overwrite the file. Put yes.
Local file. To overwrite.

True

In [50]:
# to test if it works
df_encrypt = read_pswd_excel(file_to_encrypt, sheet = "Sheet1", excel_range = "A1:D5")
df_encrypt

Have tested it on SharePoint and that it works. Only run this once. This can be done with a loop to handle multiple files as well. The idea is for you to take the essence of this code and tweak it to your section's requirements and file location.

In [34]:
# file to encrypt exists one level up so that user does not confuse it with the file in main folder (meant for testing of automatic encryption in local drive).

shareptfile_to_encrypt = os.path.join(r"\\intranet.dos.gov.sg\DavWWWRoot\sites\ead2\Common\NAC\Workgroup\PST\Reference Materials\Usable Codes\Python\File IO", "data_to_encrypt.xlsx").replace("/", "\\")
print(shareptfile_to_encrypt)
#shareptdir = r"\\intranet.dos.gov.sg\DavWWWRoot\sites\ead2\Common\NAC\Workgroup\PST\Reference Materials\Usable Codes\Python\File IO\main"

encrypt_file(shareptfile_to_encrypt, intranet = "yes")

\\intranet.dos.gov.sg\DavWWWRoot\sites\ead2\Common\NAC\Workgroup\PST\Reference Materials\Usable Codes\Python\File IO\data_to_encrypt.xlsx
If there is a prompt asking if you want to overwrite the file. Put yes.
Intranet file. To save as another file. Please delete as needed.

True

In [35]:
# to test if it works
shareptfile_to_encrypt_1 = shareptfile_to_encrypt[:-5] + "1.xlsx"

df_encrypt = read_pswd_excel(shareptfile_to_encrypt_1, sheet = "Sheet1", excel_range = "A1:D5")
df_encrypt

       NAME   AGE  SCORE
0      John  27.0   56.9
1       Amy  30.0   45.7
2    Alfred  24.0   63.4
3  Benjamin  35.0   85.3

#### <a id = "VOL1_dat">Part 1c: .dat or .txt files  </a>  

[Return to Table of Contents](#VOL1_toc)

.dat files usually contain important information for software to handle. The information is usually in plain text or binary. By right, they should be used by the applications themselves. As you may be uncertain about the structure within, you can take a look inside by opening the file with Notepad. Note that you can also read text files via the methods below.  

Here is an example I made based off of the same data above:

Edit: The current version of Jupyter Notebook cannot insert images (2015 version still). You can manually open *files/data_dat.txt* with a notepad or *./data_dat.PNG*.  

The way to read the dat file is to understand if its a fixed width or a delimiter (comma, tab, newline etc) that separates the values. If commas, can treat it as csv. If tab, can read it line by line.  

#### CSV package:  

The CSV package is a general purpose package to read files that are delimited by something. Can be tabs, newline, space, comma, or any other character, even "a". This should come pre-installed with Python. There is no need to install a new package.

In [28]:
import csv # A package that helps.

mylist = []
# relative path is used. You can also use the absolute path via dirname and os.path.join
with open("files/read/data.txt", "r") as file:
    alist = csv.reader(file, delimiter = "\t")
    for line in alist:
        print(line)
        mylist.append(line)

['Name', 'Age', 'Score']
['John', '27', '56.9']
['Amy', '30', '45.7']
['Alfred', '24', '63.4']
['Benjamin', '35', '85.3']

In [31]:
with open("files/read/data.csv", "r") as file:
    alist = csv.reader(file, delimiter = ",")
    for line in alist:
        print(line)

['ï»¿Name', 'Age', 'Score']
['John', '27', '56.9']
['Amy', '30', '45.7']
['Alfred', '24', '63.4']
['Benjamin', '35', '85.3']

Do you see any difference with the example above that highlighted encoding encoding?  

[Part 1a here](#VOL1_csv)

In [30]:
df_txt = pd.DataFrame(mylist[1:], columns = mylist[0])

In [38]:
df_txt

       Name Age Score
0      John  27  56.9
1       Amy  30  45.7
2    Alfred  24  63.4
3  Benjamin  35  85.3

In [24]:
with open("files/read/data.dat", "r") as file:
    dat_list = file.readlines()

# To understand what the data looks like. 
# The output below will take quite some lines of code to clean. We can try fixed width formatting.
# Thanks Wei Liang from IA for sharing the code (.read_fwf) with me.
dat_list

['Name          Age         Score\n',
 'John          27          56.9\n',
 'Amy           30          45.7\n',
 'Alfred        24          63.4\n',
 'Benjamin      35          85.3']

In [25]:
# voila! Pandas automatically infers the fixed width needed to split the values.
# However, without looking at the files itself, we won't know if its fixed width or not.
dat_df = pd.read_fwf("files/read/data.dat")

In [26]:
dat_df

       Name  Age  Score
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

#### <a id = "VOL1_sas">Part 1d: .sas7bdat files  </a>  

[Return to Table of Contents](#VOL1_toc)  

SAS dataset files can be read by pandas, with one caveat: Encrypted files cannot be opened by pandas. Pandas only works on unencrypted SAS datasets, with the extension SAS7bdat. As the SAS ecosystem isn't really designed from an open-sourced kind of perspective, it can be difficult to interact with files directly. For most SAS data, you can use their export task to export either as an excel file or even as a text file, which you can then read via pandas' functions as above.  

Hence, using a SAS7bdat file in anywhere else other than SAS is not recommended. Below shows an example (not run) of how you would write code to read SAS files.

In [42]:
import pandas as pd

# help is a great function so you can check the parameters that are required to use this function.
help(pd.read_sas)

Help on function read_sas in module pandas.io.sas.sasreader:

read_sas(filepath_or_buffer, format=None, index=None, encoding=None, chunksize=None, iterator=False)
    Read SAS files stored as either XPORT or SAS7BDAT format files.

    Parameters
    ----------
    filepath_or_buffer : string or file-like object
        Path to the SAS file.
    format : string {'xport', 'sas7bdat'} or None
        If None, file format is inferred from file extension. If 'xport' or
        'sas7bdat', uses the corresponding format.
    index : identifier of index column, defaults to None
        Identifier of column that should be used as index of the DataFrame.
    encoding : string, default is None
        Encoding for text data.  If None, text data are stored as raw bytes.
    chunksize : int
        Read file `chunksize` lines at a time, returns iterator.
    iterator : bool, defaults to False
        If True, returns an iterator for reading the file incrementally.

    Returns
    -------
    DataFrame if iterator=False and chunksize=None, else SAS7BDATReader
    or XportReader

In [ ]:
pd.read_sas("path_to_sas_file.sas7bdat")

#### <a id = "VOL1_json">Part 1e: JSON files</a>  

[Return to Table of Contents](#VOL1_toc)  

The last part of this guide on File I/O will focus on json files. JSON = JavaScript Object Notation, which is the data-exchange format that is lightweight, require less coding, processes faster and human-readable. Most data dumps from online sources (esp from Kaggle) are in either JSON or XML files.  

*** Note that json file can't seem to be uploaded onto SharePoint. In the example below, I will create the json file myself so you can read from it.

In [65]:
df_to_json = pd.DataFrame({"Name":
 {"0":"John","1":"Amy","2":"Alfred","3":"Benjamin"},
 "Age":{"0":27,"1":30,"2":24,"3":35},
 "Score":{"0":56.9,"1":45.7,"2":63.4,"3":85.3}})

In [66]:
df_to_json.to_json("files/read/data.json")

In [43]:
import pandas as pd

df = pd.read_json("files/read/data.json")
df

       Name  Age  Score
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

Note that while it seems incredibly easy to read json files, you would need to note that they follow certain rules. If your json dataset is structured differently, you would need to do some data processing.

In [44]:
import json

with open("files/read/data.json") as file:   
    data = json.load(file)
    
data

{'Name': {'0': 'John', '1': 'Amy', '2': 'Alfred', '3': 'Benjamin'},
 'Age': {'0': 27, '1': 30, '2': 24, '3': 35},
 'Score': {'0': 56.9, '1': 45.7, '2': 63.4, '3': 85.3}}

In [45]:
for cols in data.keys():
    print("Column is {}".format(cols))
    for index, rows in data[cols].items():
        print("Row index = {}, row value = {}".format(index, rows))

Column is Name
Row index = 0, row value = John
Row index = 1, row value = Amy
Row index = 2, row value = Alfred
Row index = 3, row value = Benjamin
Column is Age
Row index = 0, row value = 27
Row index = 1, row value = 30
Row index = 2, row value = 24
Row index = 3, row value = 35
Column is Score
Row index = 0, row value = 56.9
Row index = 1, row value = 45.7
Row index = 2, row value = 63.4
Row index = 3, row value = 85.3

As a rule of thumb, generally speaking it is best to read a json file via notepad to assess its contents first, or read in the json file via json.load() to understand the data before converting it to pandas DataFrame.

### <a id = "VOL1_write_excel"> Part 2: Writing files  </a>
[Return to Table of Contents](#VOL1_toc) 

2A: [Writing to password-protected Excel Files](#VOL1_writepswdexcel)  
2B: [Writing to other file types](#VOL1_writeothfile)  

This section will touch on how to write to files and the *cheat* codes that I (and many other users) are using that can help save valuable amounts of coding time. This can be run independently of Part 1.

Writing data to files are simple. A few ways you can do it; mostly via Excel as the format is most commonly used. The pandas package can do most data writing requirements. For specific excel manipulation (e.g. writing to cell A10 or deleting rows etc), best to use excel-specific packages such as openpyxl or xlwings.

To ensure that each step can be executed independently, we can read from existing files and write it into our new file which will exist in the Write folder.

In [46]:
import os
import pandas as pd

In [47]:
# Get directory name of this file. Helpful to specify the directory of the file, 
# so you can also interact with the files in the same location via relative paths.

dirname = globals()["_dh"][0]

In [48]:
mylines = ["KKB", "100", 99.9]

rawfile = os.path.join(dirname, "files", "read", "data.xlsx").replace("\\", "/")

# Read from old file any file will do as the data is the same
rawdata = pd.read_excel(rawfile, sheet_name = "Sheet1")

In [49]:
rawdata

       Name  Age  Score
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3

In [50]:
# Append list regardless of position. Assume you've ordered it correctly.
rawdata.loc[4] = mylines

In [51]:
rawdata

       Name  Age  Score
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3
4       KKB  100   99.9

Writing it back to the excel file can take many forms.  

- Writing to sheets
- Writing to specific cells  
- Writing to new file

Note that you cannot write into the file if you have the file open. That implies an open 'connection' between the file and your Operating System. As such, you need to close it before you can write to the file (connection between file and python).

In [52]:
# Do you think that there will be 1 tab or 2 tabs in the new_excel after this cell is run?
rawdata.to_excel("files/write/new_excel.xlsx", index = False)
rawdata.to_excel("files/write/new_excel.xlsx", index = False, sheet_name = "testing")

To write multiple sheets at the same time into an excel file, you can take a look at the syntax (see help(code) below)

In [53]:
with pd.ExcelWriter("files/write/new_excel_2.xlsx") as writer:  # doctest: +SKIP
        rawdata.to_excel(writer, sheet_name="Sheet1")
        rawdata.to_excel(writer, sheet_name="Sheet2", index = False)

For me, I use the below as a template to save a backup, remove sheets that we want to replace/add (if you don't the sheet name "Sheet1" will be changed to "Sheet11" because you can't have 2 sheets with the same name), and write the DataFrame as a new sheet. After that, you save it and the file will be generated.

In [54]:
import shutil
from openpyxl import load_workbook

# Backup and save the file (while retaining the sheets.)

output_file = os.path.join(dirname, "files/write/new_excel_3.xlsx").replace("\\", "/")
output_file_bkup = os.path.join(dirname, "files/write/new_excel_3_bkup.xlsx").replace("\\", "/")
shutil.copy(output_file, output_file_bkup)
print(output_file)

book = load_workbook(output_file)
writer = pd.ExcelWriter(output_file, engine = "openpyxl")
writer.book = book

# Sheet to remove
# Then insert the new sheet. This is cleaner.
for i in ["Sheet1", "Sheet2"]:
    if i in writer.book:
        writer.book.remove(book[i])

rawdata.to_excel(writer, index = False, sheet_name = "Sheet1")
rawdata.to_excel(writer, sheet_name = "Sheet2")

writer.save()

C:/Users/kbkoh/Desktop/PST/helper/files/write/new_excel_3.xlsx

Note that if the excel file is encrypted, you will need a different package to write to it. For the above code, after the file is refreshed with the new data, if you wish to encrypt the file, you can run the encrypt_file() function (you need to run it once to define the function for use).  

#### <a id = "VOL1_writepswdexcel"> Part 2A: Writing to password-protected excel files  </a>

[Return to top](#VOL1_toc)  
[Return to section head](#VOL1_write_excel)

This will demonstrate how to write the same dataframe as above into a password protected excel file. The interface can also work on non-password protected excel file. The codes are similar to that used to open password-protected excel files.

In [55]:
import xlwings
output_file = os.path.join(dirname, "files/write/new_excel_4.xlsx").replace("\\", "/")

app = xw.App()
filebook = xw.Book(output_file)

# Add sheet
filebook.sheets.add(name = "newsheet1")
filebook.sheets["newsheet1"].range("A1").options(index = False).value = rawdata

filebook.sheets.add(name = "newsheet2")
filebook.sheets["newsheet2"].range("B2").value = rawdata

# Add data to existing sheet
filebook.sheets["DO NOT DELETE"].range("F1").value = rawdata

newfile = os.path.join(dirname, "files/write/new_excel_4a.xlsx").replace("\\", "/")

# unlike reading, we need to save the file.
# If .save() is empty, it will simply overwrite the file. I will save as a new file so that the results can be reproduced.
filebook.save(newfile)
app.quit()

You can read the excel file to see the sheet first so you can compare the files.

Note that while you can write to an existing sheet, you can also do many things with the excel file. This includes, changing the color, formatting, clearning the contents of the sheet, as well as deleting it. Please take a look at their documentation.  

Another example below. Take note of the difference in syntax when checking for name.

In [56]:
output_file = os.path.join(dirname, "files/write/new_excel_4a.xlsx").replace("\\", "/")

app = xw.App()
filebook = xw.Book(output_file)

for sheet in filebook.sheets:
    if "newsheet1" in sheet.name:
        filebook.sheets["newsheet1"].clear()
        filebook.sheets["newsheet1"].range("A10").options(index = False).value = rawdata
        # This can also be a single cell, or a range. This is what online says to be the most efficient method.
        # Take a look at chunksize if you're looking to write a huge dataset. For that, I usually recommend writing to a excel file, 
        # THEN encrypting it so that its simpler to do.
        
    if "newsheet2" in sheet.name:
        filebook.sheets["newsheet2"].delete()
        
newfile = os.path.join(dirname, "files/write/new_excel_4b.xlsx").replace("\\", "/")

filebook.save(newfile)
app.quit()

#### <a id = "VOL1_writeothfile"> Part 2B: Writing to other file types </a>
[Return to top](#VOL1_toc)  
[Return to section head](#VOL1_write_excel)

This will demonstrate how to write the same dataframe into other file types as may be required. This won't be common as the file formats are usually excel, csv.

In [57]:
import os
import pandas as pd

# Get directory name of this file. Helpful to specify the directory of the file, 
# so you can also interact with the files in the same location via relative paths.

dirname = globals()["_dh"][0]
mylines = ["KKB", "100", 99.9]

rawfile = os.path.join(dirname, "files", "read", "data.xlsx").replace("\\", "/")

# Read from old file any file will do as the data is the same
rawdata = pd.read_excel(rawfile, sheet_name = "Sheet1")

In [58]:
# Append list regardless of position. Assume you've ordered it correctly.
rawdata.loc[4] = mylines

In [59]:
rawdata

       Name  Age  Score
0      John   27   56.9
1       Amy   30   45.7
2    Alfred   24   63.4
3  Benjamin   35   85.3
4       KKB  100   99.9

In [60]:
rawdata.to_csv("files/write/newdata.csv")

# Error will occur by design, as we've not specified the sql database.
rawdata.to_sql()

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'

Simple troubleshooting process is to refer to their documentation

In [24]:
help(rawdata.to_sql)

Help on method to_sql in module pandas.core.generic:

to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None, method=None) method of pandas.core.frame.DataFrame instance
    Write records stored in a DataFrame to a SQL database.

    Databases supported by SQLAlchemy [1]_ are supported. Tables can be
    newly created, appended to, or overwritten.

    Parameters
    ----------
    name : string
        Name of SQL table.
    con : sqlalchemy.engine.Engine or sqlite3.Connection
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. Legacy support is provided for sqlite3.Connection objects.
    schema : string, optional
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        How to behave if the table already exists.

        * fail: Raise a ValueError.
        * replace: Drop the table before inserting new values.
        * append: Insert new values to the existing table.

    index : bool, default True
        Write DataFrame index as a column. Uses `index_label` as the column
        name in the table.
    index_label : string or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, optional
        Rows will be written in batches of this size at a time. By default,
        all rows will be written at once.
    dtype : dict, optional
        Specifying the datatype for columns. The keys should be the column
        names and the values should be the SQLAlchemy types or strings for
        the sqlite3 legacy mode.
    method : {None, 'multi', callable}, default None
        Controls the SQL insertion clause used:

        * None : Uses standard SQL ``INSERT`` clause (one per row).
        * 'multi': Pass multiple values in a single ``INSERT`` clause.
        * callable with signature ``(pd_table, conn, keys, data_iter)``.

        Details and a sample callable implementation can be found in the
        section :ref:`insert method <io.sql.method>`.

        .. versionadded:: 0.24.0

    Raises
    ------
    ValueError
        When the table already exists and `if_exists` is 'fail' (the
        default).

    See Also
    --------
    read_sql : Read a DataFrame from a table.

    Notes
    -----
    Timezone aware datetime columns will be written as
    ``Timestamp with timezone`` type with SQLAlchemy if supported by the
    database. Otherwise, the datetimes will be stored as timezone unaware
    timestamps local to the original timezone.

    .. versionadded:: 0.24.0

    References
    ----------
    .. [1] http://docs.sqlalchemy.org
    .. [2] https://www.python.org/dev/peps/pep-0249/

    Examples
    --------

    Create an in-memory SQLite database.

    >>> from sqlalchemy import create_engine
    >>> engine = create_engine('sqlite://', echo=False)

    Create a table from scratch with 3 rows.

    >>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
    >>> df
         name
    0  User 1
    1  User 2
    2  User 3

    >>> df.to_sql('users', con=engine)
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

    >>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    >>> df1.to_sql('users', con=engine, if_exists='append')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
     (0, 'User 4'), (1, 'User 5')]

    Overwrite the table with just ``df1``.

    >>> df1.to_sql('users', con=engine, if_exists='replace',
    ...            index_label='id')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 4'), (1, 'User 5')]

    Specify the dtype (especially useful for integers with missing values).
    Notice that while pandas is forced to store the data as floating point,
    the database supports nullable integers. When fetching the data with
    Python, we get back integer scalars.

    >>> df = pd.DataFrame({"A": [1, None, 2]})
    >>> df
         A
    0  1.0
    1  NaN
    2  2.0

    >>> from sqlalchemy.types import Integer
    >>> df.to_sql('integers', con=engine, index=False,
    ...           dtype={"A": Integer()})

    >>> engine.execute("SELECT * FROM integers").fetchall()
    [(1,), (None,), (2,)]

In [ ]:
# full list of methods, from dir(pd.DataFrame)
'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',

#### Thank you for reading thus far. Hope you learnt something new in this guide. Onto VOL2: Data processing, or VOL3: Exploratory Data Analysis!